<?xml version="1.0"?>

<launch>
    <arg name="camera" default="camera" />
    <arg name="scan_topic" default="scan"/>
    <arg name="depth" default="depth_registered"/>
    <arg name="ns" default=""/>


<!-- Fake laser -->
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
     <param name="scan_height" value="10"/> 
     <param name="scan_time" value="0.1"/>
     <param name="range_min" value="0.45"/>
     <param name="range_max" value="10.0"/>
     <param name="min_height" value=".10"/>
     <param name="max_height" value="2.0"/>
     <param name="output_frame_id" value="$(arg ns)/camera_link"/>
     <remap from="image" to="/$(arg ns)/$(arg camera)/$(arg depth)/image_raw"/>
     <remap from="/scan" to="/$(arg scan_topic)"/> 
  </node>

  <!-- DEPTH to LASERSCAN  -->
  <!--include file="$(find mike_bringup)/launch/depth_laserscan.launch">
    <arg name="camera" value="camera" />
    <arg name="scan_topic" value="/scan"/>
    <arg name="depth" value="depth"/>

  </include-->


</launch>
