<launch>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mike_description)/maps/map.yaml"/>

  <!-- Run AMCL -->
  <include file="$(find mike_bringup)/launch/amcl_diff.launch" />


  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <rosparam file="$(find mike_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mike_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mike_bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mike_bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mike_bringup)/config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find mike_bringup)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find mike_bringup)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find mike_bringup)/config/navfn_global_planner_params.yaml" command="load" />
  </node>
</launch>
