<?xml version="1.0"?>

<launch>
 <!--group ns="mike"-->

  <!--param name="use_sim_time" type="bool" value="true" /-->

  <!-- KINECT -->
  <include file="$(find mike_bringup)/launch/mike_kinect.launch"/>

  <!-- DEPTH to LASERSCAN  -->
  <include file="$(find mike_bringup)/launch/mike_depth_laserscan.launch"/>

  <!--serial communication between arduino and pc via usb /-->

  <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_6493330373235170D010-if00" />
    <param name="baud" value="57600" />
  </node>


  <!--  DIFFERENTIAL DRIVE   -->

  <include file="$(find mike_bringup)/launch/mike_differential_drive.launch" />




 <!-- URDF and TF-->
  <!--node name="parser" pkg="mike_description" type="parser" args="$(find mike_description)urdf/mike.urdf"  respawn="false" output="screen" /-->
  
  <!-- node name="mike_tf_broadcaster" pkg="robot_mike" type="robot_tf_broadcaster.py" respawn="false" output="screen" >
	<param name="robot" type="string" value="rtabmap" />
  </node -->

  <!--include file="$(find mike_bringup)/launch/display-robot.launch" >
        <arg name="model" default="$(find mike_description)urdf/mike.urdf"/>
    </include-->




  <arg name="pi/2" value="1.5707963267948966" />
      <arg name="optical_rotateB" value="0 0 0 0 0 0" />

      <arg name="optical_rotate" value="0.1643 0 0.28685 -$(arg pi/2) 0 -$(arg pi/2)" />
     
      <arg name="base_to_cam" value="0.1643 0 0.28685 0 0 0"/>

  <node pkg="tf" type="static_transform_publisher" name="optical_rotation"
        args="$(arg optical_rotate) /base_link /camera_rgb_optical_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="camdeth_rotation"
        args="$(arg base_to_cam) /base_link /camera_depth_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="depthoptical_rotation"
        args="$(arg optical_rotate) /base_link /camera_depth_optical_frame 100"/>

  <node pkg="tf" type="static_transform_publisher" name="imu_rotation"
        args="$(arg optical_rotateB) /base_link /imu 100"/>

  <node pkg="tf" type="static_transform_publisher" name="camera_link_rotation"
        args="$(arg base_to_cam) /base_link /camera_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="scanner_link_rotation"
        args="$(arg base_to_cam) /base_link /scanner 100"/>


  <!-- GMAPPING -->
  <!--include file="$(find mike_bringup)/launch/mike_gmapping.launch" /-->


  <!-- RTABMAP -->
  <!-- include file="$(find mike_bringup)/launch/rtabmap_robot.launch" / -->


  <!--include file="$(find mike_bringup)/launch/mike_robot_location.launch"/-->

 <!--/group-->
</launch>
